# Ignore hidden files except .gitignore files
.*
!/.gitignore


# Latex output files
*.pdf
*.synctex.gz

# Latex auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml

# Generally ignored
gitignored
node_modules
__pycache__
*~
*\#
